{% extends "base.html" %}

{% block content %}
<section id="projects">
    <h2>Projects</h2>
    <ul>
        <li>
            <h3>My Portfolio</h3>
            <p><strong>Description:</strong> "My Portfolio" is a project I am developing to showcase my professional experience, skills, and projects on an interactive and responsive platform. It serves as a personal portfolio, highlighting my career journey, the technologies I use, and my hobbies. The main goal is to provide a clear view of my skillset and achievements, allowing recruiters and peers in the IT industry to better understand what I do and what I can offer.</p>
            <p><strong>Technologies Used:</strong> Python (Flask), HTML5, CSS, JavaScript, GitHub.</p>
            <p><strong>Challenge:</strong> The main challenge of this project was ensuring the layout was responsive and provided a good browsing experience, even on mobile devices. Integrating animations without affecting performance was also an important area of learning.</p>
            <p><strong>GitHub Link:</strong> <a href="https://github.com/claudiooandre/my_portfolio" target="_blank">GitHub - My Portfolio</a></p>
        </li>
        <li>
            <h3>Football API</h3>
            <p><strong>Description:</strong> The "Football API" project is an application that provides detailed information about the world of football, including data on teams, players, matches, and leagues. This API allows developers to integrate this information into their own applications, providing an easy way to access up-to-date data about the sport. The API is designed to be scalable and robust, focusing on high availability and low response time.</p>
            <p><strong>Technologies Used:</strong> Python (Flask), SQL, HTML5, CSS, JavaScript, Postman, GitHub.</p>
            <p><strong>Challenge:</strong> One of the biggest challenges of this project was ensuring the API was efficient and scalable, especially when handling large volumes of data and simultaneous requests. The integration with external APIs also required careful data handling and real-time synchronization.</p>
            <p><strong>GitHub Link:</strong> <a href="https://github.com/claudiooandre/football-api" target="_blank">GitHub - Football API</a></p>
        </li>
        <!-- Add more projects as needed -->
    </ul>
</section>
{% endblock %}
